.red{
    color: red;
    border-color: red;
}

.orange{
    color: orange;
}


.complexe-table{
    width: 50%;
    height: 100px;
    border-collapse: collapse;
    text-align: center;
}

table, td, th{
    border: 1px solid black;
    empty-cells: show;
}

#span-table {
    column-span: 3;
}

img{
    width: 50%;
}


video{
    height: 50vh;
}

.poster{
    width: 100px;
}

audio{
    display: block;
}